<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">

    <h3>Section Secondary</h3>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>We are an industry-leading flooring products and services provider. Let’s make your floor look spectacular!
        </p>
      </div>
      <div>
        <p>
          <span uk-icon="receiver"></span>
          +1 323-913-4688
        </p>
        <p> <span uk-icon="clock"></span>
          Mon-Sat: 07:00AM - 05:00PM
        </p>
        <p>
          <span uk-icon="location"></span>
          4730 Crystal Springs Dr, Los Angeles, CA 90027
        </p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

  </div>
</div>
