<div class="uk-section">

  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-2@m " uk-grid>
      <div>
        <div class="uk-text-center">
          <img src="../../../assets/why-us.svg" width="400" alt="">
        </div>
      </div>
      <div>
        <div>
          <h1>WHY CHOOSE US</h1>
          <ul uk-tab>
            <li><a href="#">
                <h4> EXPERIENCE </h4>
              </a></li>
            <li><a href="#">
                <h4> SKILLS </h4>
              </a></li>
            <li><a href="#">
                <h4> MISSION </h4>
              </a></li>
          </ul>

          <ul class="uk-switcher uk-margin">
            <li>Nunquam tractare tumultumque. Manducare saepe ducunt ad fidelis fermium. Sunt luraes quaestio peritus,
              rusticus assimilatioes. Ortum virtualiter ducunt ad germanus bubo.</li>
            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur,
              sed
              do eiusmod.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>



<hr class="hr-text" data-content="WHAT PEOPLE SAY">
<br>
<div uk-slider="center: true;autoplay: true">

  <div class="uk-position-relative uk-visible-toggle uk-light uk-container uk-container-xsmall " tabindex="-1">

    <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top  ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-17-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top  ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-17-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top  ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-17-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-18-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-16-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
      uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
      uk-slider-item="next"></a>

  </div>

  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
