<hr class="hr-text" data-content="WHAT WE OFFER">
<br>

<div class="uk-container">

  <div class="uk-text-center" uk-grid>


    <div class="uk-width-expand@m">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img class="uk-transition-scale-up uk-transition-opaque"
            src="https://livedemo00.template-help.com/wt_prod-20688/images/spotlight-1-770x332.jpg" alt="">
        </div>
        <p class="uk-margin-small-top">Scale Up Image</p>
      </div>
    </div>

    <div class="uk-width-1-3@m">
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img class="uk-transition-scale-up uk-transition-opaque"
            src="https://livedemo00.template-help.com/wt_prod-20688/images/spotlight-2-370x332.jpg" alt="">
        </div>
        <p class="uk-margin-small-top">Scale Up Image</p>
      </div>
    </div>
  </div>



  <div class="uk-child-width-expand@s uk-text-center" uk-grid uk-height-match="target: > div > .uk-card">
    <div>
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img class="uk-transition-scale-up uk-transition-opaque"
            src="https://livedemo00.template-help.com/wt_prod-20688/images/spotlight-3-370x332.jpg" alt="">
        </div>
        <p class="uk-margin-small-top">Scale Up Image</p>
      </div>
    </div>
    <div>
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img class="uk-transition-scale-up uk-transition-opaque"
            src="https://livedemo00.template-help.com/wt_prod-20688/images/spotlight-4-370x332.jpg" alt="">
        </div>
        <p class="uk-margin-small-top">Scale Up Image</p>
      </div>
    </div>
    <div>
      <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img class="uk-transition-scale-up uk-transition-opaque"
            src="https://livedemo00.template-help.com/wt_prod-20688/images/spotlight-5-370x332.jpg" alt="">
        </div>
        <p class="uk-margin-small-top">Scale Up Image</p>
      </div>
    </div>
  </div>


</div>

<hr class="hr-text" data-content="TRENDING PRODUCTS">
<br>

<div class="uk-container">

  <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
    <div>
      <img src="https://livedemo00.template-help.com/wt_prod-20688/images/image-map-1-570x715.jpg" alt="">
    </div>
    <div>
      <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
        <div>
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle tranding-product" tabindex="0">
              <img src="https://livedemo00.template-help.com/wt_prod-20688/images/product-14-270x280.png" alt="">
              <div
                class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                <p class="uk-h4 uk-margin-remove">Fade</p>
              </div>
            </div>
          </div>
        </div>


        <div>
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle tranding-product" tabindex="0">
              <img src="https://livedemo00.template-help.com/wt_prod-20688/images/product-14-270x280.png" alt="">
              <div
                class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                <p class="uk-h4 uk-margin-remove">Fade</p>
              </div>
            </div>
          </div>
        </div>


        <div>
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle tranding-product" tabindex="0">
              <img src="https://livedemo00.template-help.com/wt_prod-20688/images/product-14-270x280.png" alt="">
              <div
                class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                <p class="uk-h4 uk-margin-remove">Fade</p>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-text-center">
            <div class="uk-inline-clip uk-transition-toggle tranding-product" tabindex="0">
              <img src="https://livedemo00.template-help.com/wt_prod-20688/images/product-14-270x280.png" alt="">
              <div
                class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                <p class="uk-h4 uk-margin-remove">Fade</p>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</div>

<br><br>

<div class="uk-container ">
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body  uk-card-hover">
        <span uk-icon="icon: world; ratio: 2"></span>
        <p class="uk-card-title">FREE WORLDWIDE DELIVERY</p>
        <p>When ordering from $300</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body  uk-card-hover">
        <span uk-icon="icon: star; ratio: 2"></span>
        <p class="uk-card-title">HIGH-QUALITY PRODUCTS</p>
        <p>Award-winning flooring</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body  uk-card-hover">
        <span uk-icon="icon: happy; ratio: 2"></span>
        <p class="uk-card-title">-20% ON NEW COLLECTIONS</p>
        <p>Get your discount today!</p>
      </div>
    </div>
  </div>
</div>



<div class="uk-section uk-section-default ">
  <div class="uk-container uk-text-center ">

    <div class="uk-grid uk-child-width-1-2@m " style="align-items: center;" uk-grid>
      <div>
        <img
          src="https://cdn.connox.com/m/100030/235198/media/normann-copenhagen/Sum/Normann-Copenhagen-Sum-Sessel-Beine-schwarz-Bezug-Main-Line-Flax-Camden-MLF-26-Freisteller.jpg"
          alt="">
      </div>

      <div>
        <h1>
          GET NEW & AMAZING <br>
          FLOORING FROM US!
        </h1>
        <p>
          Parquetry offers lots of great flooring solutions for home owners. <br>
          Whether you prefer laminate or natural stone flooring, <br>
          our experts can manufacture and install anything you like!
        </p>
        <button class="uk-button uk-button-default ">Shop Now </button>

      </div>
    </div>

  </div>
</div>


<hr class="hr-text" data-content="WHAT PEOPLE SAY">
<br>
<div uk-slider="center: true;autoplay: true">

  <div class="uk-position-relative uk-visible-toggle uk-light uk-container uk-container-xsmall " tabindex="-1">

    <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top  ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-17-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top  ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-17-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top  ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-17-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-18-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-card uk-card-default uk-text-center">
          <div class="uk-card-media-top ">
            <img class="uk-border-pill"
              src="https://livedemo00.template-help.com/wt_prod-20688/images/user-16-100x100.jpg" alt="">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Headline</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
      uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
      uk-slider-item="next"></a>

  </div>

  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
